.activity {
    background-color: $wood;
    font-size: $font-med;
    padding-bottom: 5rem;

    h1 {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }

    &__intro {
        font-weight: 300;
        text-align: left;
        width: 75%;

        @include breakpoint-down(medium) {
            text-align: center;
            width: 100%;
        }
    }

    &__social {
        display: flex;
        justify-content: center;

        @include breakpoint-down(small) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}