.activity {
    background-color: $wood;
    font-size: $font-med;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }

    &__intro {
        font-weight: 300;
        text-align: left;
        width: 75%;

        @include breakpoint-down(medium) {
            text-align: center;
            width: 100%;
        }
    }
}