.activity {
    background-color: $wood;
    font-size: $font-med;

    h1 {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }

    &__intro {
        font-weight: 300;
        text-align: left;
        width: 75%;

        @include breakpoint-down(medium) {
            text-align: center;
            width: 100%;
        }
    }

    &__feed {
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
}