.story {
    background-color: $wood;
    font-size: $font-med;

    h1 {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }

    .slogan {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }

    &__intro {
        font-weight: 300;
        text-align: left;
        width: 75%;

        @include breakpoint-down(medium) {
            text-align: center;
            width: 100%;
        }
    }

    &__imageblock {
        display: flex;
        justify-content: center;

        @include breakpoint-down(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        img {
            order: 1;
            flex-grow: 2;
            height: 320px;
            width: 500px;

            @include breakpoint-down(small) {
                margin-top: 30px;
            }
        }

        p {
            order: 2;

            @include breakpoint-down(small) {
                text-align: center;
            }

            @include breakpoint-up(medium) {
                margin-left: 20px;
            }
        }
    }

    &__imageblock2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        @include breakpoint-down(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        img {
            transition-timing-function: ease-in;
            order: 2;
            flex-grow: 2;
            height: 320px;
            width: 500px;
        }

        p {
            margin-right: 20px;
            order: 1;

            @include breakpoint-down(small) {
                text-align: center;
            }
        }
    }

    &__testimonial {
        h3 {
            font-weight: 400;
            text-align: center;
        }
    }

    .testbg {
        background-color: $white;
    }

    .carousel-indicators {
        bottom: -80px;
        li {
            background-color: $veryLightBrown;
        }

        @include breakpoint-down(small) {
            bottom: -150px;
        }
    }

    .carousel-icon {
        ion-icon {
            color: $veryLightBrown;
            font-size: $font-xl;
        }
    }

}