.story {
    background-color: $wood;
    font-size: $font-med;
    // padding-bottom: 2rem;


    h1 {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }

    .slogan {
        text-align: left;

        @include breakpoint-down(medium) {
            display: none;
        }
    }

    &__intro {
        font-weight: 300;
        text-align: left;
        width: 75%;

        @include breakpoint-down(medium) {
            text-align: center;
            width: 100%;
        }
    }

    &__imageblock {
        display: flex;
        justify-content: center;

        @include breakpoint-down(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        img {
            order: 1;
            flex-grow: 2;
            height: 320px;
            width: 500px;

            @include breakpoint-down(medium) {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }

        p {
            order: 2;

            @include breakpoint-down(medium) {
                text-align: center;
            }

            @include breakpoint-up(large) {
                margin-left: 20px;
            }
        }
    }

    &__imageblock2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        @include breakpoint-down(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        img {
            transition-timing-function: ease-in;
            order: 2;
            flex-grow: 2;
            height: 320px;
            width: 500px;

            @include breakpoint-down(medium) {
                order: 1;
                margin-bottom: 20px;
            }
        }

        p {
            margin-right: 20px;
            order: 1;

            @include breakpoint-down(medium) {
                order: 2;
                text-align: center;
            }
        }
    }

    &__testimonial {
        .container {
            //background-color: $veryLightBrown;
        }

        h3 {
            font-weight: 400;
            text-align: center;
        }

        @include breakpoint-down(medium) {
            padding-top: 5rem;
            padding-bottom: 8rem;
        }

        @include breakpoint-down(small) {
            padding-top: 5rem;
            padding-bottom: 17rem;
        }
    }

    .carousel-inner {
        @include breakpoint-down(small) {
            max-height: 768px;
        }
    }


    .carousel-indicators {
        bottom: -150px;
        li {
            background-color: $veryLightBrown;
        }

        @include breakpoint-down(medium) {
            bottom: -180px;
        }

        @include breakpoint-down(small) {
            display: none;
        }
    }

    .carousel-icon {
        ion-icon {
            color: $veryLightBrown;
            font-size: $font-xl;
        }
    }

}